module.exports = {
    app: { baseName: 'staples-ds' },
    sass: {
        src: ['./src/styles/design-system/scss/staples-ds.scss']
    },
    js: {
        src: ['./node_modules/bootstrap/dist/js/bootstrap.js']
    },
    buildLocations: {
        css: './src/styles/design-system/',
        js: './src/scripts/design-system/',
    }
}