body {
    font-size: 1rem;
    line-height: 1.3125rem;
}

.display-1, .display-2, .display-3, .display-4{
    line-height: 3.625rem;
    margin-top: 1.3125rem;
    margin-bottom: 1.3125rem;
}

h1,
.h1 { 
    line-height: 2.625rem;
    margin-top: 1.3125rem;
    margin-bottom: 1.3125rem;
}

h2,
.h2 {
    line-height: 2.625rem;
    margin-top: 1.3125rem;
    margin-bottom: 1.3125rem;
}

h3,
.h3 {
    line-height: 2.625rem;
    margin-top: 1.3125rem;
    margin-bottom: 1.3125rem;
}

h4,
.h4 {
    line-height: 1.3125rem;
    margin-top: 1.3125rem;
    margin-bottom: 1.3125rem;
}

h5,
.h5 {
    line-height: 1.3125rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

blockquote {
    padding: 1rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-bottom: 0px;
    border-left: 3px solid $light-gray;
    background: $lightest-gray;
    font-family: $font-family-regular;
}

ol li,
ul li {
    line-height: 1.125rem;
    margin: .75rem 0;
}

p,
ul,
ol,
pre,
table,
blockquote {
    margin: 0 0 1.3125rem 0;
}

a.disabled {
    cursor: not-allowed;
}

.row p a {
    text-decoration: underline;
}

b,
strong {
  font-weight: $font-weight-bold;
  font-family: $font-family-bold;
}