.bg-lightest-gray {
    background: $gray-100;
}

.bg-light-gray {
    background: $gray-300;
}

.bg-gray {
    background: $gray-600;
}

.bg-dark-gray {
    background: $gray-800;
}

.bg-lightest-blue {
    background: $lightest-blue;
}

.bg-blue {
    background: $blue;
}

.bg-dark-blue {
    background: $dark-blue;
}

.bg-lightest-gray {
    background: $gray-100;
}

.bg-chartreuse {
    background: $chartreuse;
}

.bg-coark {
    background: $coark;
}

.bg-burgundy {
    background: $burgundy;
}