.badge {
    padding: 4px 8px;
    font-family: 'TT Norms Medium', sans-serif;
    line-height: 15px;
    border-radius: 0px;
}

h1 {
    .badge {
        line-height: 25px;
    }
}

h2 {
    .badge {
        line-height: 22px;
    }
}

h3 {
    .badge {
        line-height: 18px;
    }
}

h4 {
    .badge {
        line-height: 15px;
    }
}

h5 {
    .badge {
        line-height: 12px;
    }
}

h6 {
    .badge {
        line-height: 9px;
    }
}


.btn {
    .badge {
        right: -48px;
        top: -30px;
    }
}

a.badge {
    padding: 8px 12px;
    font-family: 'TT Norms Medium', sans-serif;
    line-height: 15px;
    border-radius: 0px;
}

.badge a {
    color: $white !important;
}

.badge.badge-light a {
    color: $dark-gray !important;
}

.badge-pill {
    padding: 8px 12px;
    font-family: 'TT Norms Medium', sans-serif;
    line-height: 15px;
    border-radius: 0px;
}

.badge-warning {
    color: $white;
}



.btn-secondary.btn.badge-notification {
    position: relative;

    .badge {
        position: absolute;
        right: -13px;
        top: -13px;
        border-radius: 4px;
        border: 1px solid $primary;
        background-color: $primary;
        color: $white;
    }

    &:hover {
        .badge {
            background-color: $white;
            color: $primary;
            border: 1px solid $primary;
        }
    }
}

.btn-primary.btn.badge-notification {
    position: relative;
    border: 1px solid $primary !important;
    color: $primary !important;

    .badge {
        position: absolute;
        right: -13px;
        top: -13px;
        border-radius: 4px;
        border: 1px solid $primary;
        background-color: $primary;
        color: $white;
    }

    &:hover {
        color: $white !important;
        background-color: $primary !important;

        .badge {
            background-color: $white;
            color: $primary;
            border: 1px solid $primary;
        }
    }
}

.btn-tertiary.btn.badge-notification {
    position: relative;

    .badge {
        position: absolute;
        right: -13px;
        top: -13px;
        border-radius: 4px;
        border: 1px solid $primary;
        background-color: $primary;
        color: $white;
    }

    &:hover {
        .badge {
            background-color: $white;
            color: $primary;
            border: 1px solid $primary;
        }
    }
}


@each $color, $value in $theme-colors {
    .badge-#{$color} {
        @include badge-variant(theme-color-level($color, $badge-bg-level), theme-color-level($color, $badge-color-level));
    }
}

.badge-primary {
    background: $primary;
    color: $white;
}

.badge-secondary {
    background: $secondary;
    color: $white;
}

.badge-tertiary {
    background: $tertiary;
    color: $white;
}