.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}

.bg-white {
  background-color: white;
}

.bg-charcoal {
  background-color: #444444;
}

.bg-mid-grey {
  background-color: #747679;
}

.bg-light-grey {
  background-color: #D9D9D6;
}

.bg-lightest-grey {
  background-color: #F3F3F2;
}

.bg-chartreuse {
  background-color: #D2D420;
}

.bg-blue {
  background-color: #9BD3DD;
}

.bg-lightest-blue {
  background-color: #EFF6F7;
}

.bg-cork {
  background-color: #DDCBA4;
}