.btn {
    .badge{
        margin-left: .375rem;
    }
}
.badge-pill {
    padding: 5px 12px;
    font-family: 'TT Norms Medium', sans-serif;
    line-height: 15px;
    border-radius: $btn-border-radius;
}

.badge-warning {
    color: $white;
}

.btn:hover span {
    background-color: $white;
    color: $primary;
}