.alert {
    position: relative;
    padding: 1.10rem 3.55rem 1.10rem 1.10rem;
    margin-bottom: 1rem;
    border: 0px solid transparent;
    border-radius: 0;

    button.close span {
        display: none;
    }
}

.alert-heading {
    margin-top: 0px;
    padding-bottom: 20px;
}

.alert-dismissible .close {
    padding: 1.85rem !important;
    position: absolute;
    top: 0;
    right: 0;
    color: inherit;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 32 32' stroke='black' stroke-width='3'%3E%3Cpath d='M16.8 16l14.464-14.464q0.096-0.064 0.128-0.192t0.032-0.192q0-0.128-0.032-0.224t-0.128-0.192v0q-0.064-0.096-0.192-0.128t-0.224-0.032-0.192 0.032-0.192 0.128l-14.464 14.464-14.464-14.464q-0.064-0.096-0.16-0.128t-0.224-0.032-0.224 0.032-0.192 0.128v0q-0.064 0.064-0.128 0.192t-0.032 0.224q0 0.096 0.032 0.192t0.128 0.192l14.464 14.464-14.464 14.464q-0.064 0.064-0.128 0.192t-0.032 0.192q0 0.128 0.032 0.224t0.128 0.192v0q0.064 0.096 0.192 0.128t0.192 0.032h0.032q0.128 0 0.224-0.032t0.16-0.128l14.464-14.464 14.464 14.464q0.064 0.096 0.192 0.128t0.192 0.032q0.128 0 0.224-0.032t0.192-0.128v0q0.096-0.064 0.128-0.192t0.032-0.224-0.032-0.192-0.128-0.192v0z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    height: 13px;
    width: 13px;
}