.page-link {
    border: none;
    padding: 0px;
    margin: 0 .5rem;
    font-family: TT Norms Medium, Helvetica Neue, Arial, sans-serif;
}

.page-text {
    margin-right: .5rem;
}

.page-link:hover {
    text-decoration: underline;
    background-color: transparent;
}

.arrow-icon {
    margin-bottom: 3px;
    width: 10px;
    height: 10px;
}

.arrow-icon-close {
    transform: rotate(270deg);
}

.arrow-icon-open {
    transform: rotate(90deg);
}


.page-item.active .page-link {
    color: $secondary;
    z-index: 1;
    background-color: transparent;
    border-color: transparent;
    text-decoration: underline;
}