select {
    -webkit-border-radius: 0px;
}

select:not([multiple]),
select[multiple] {
    padding: 0.75rem 1rem;
    padding-right: 1.5em;
    font-size: $font-size-base;
}

select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 97% 55%;
    background-repeat: no-repeat;
    background-image: url('/icons/icon-select-arrow-down.svg');
    background-size: 16px;
}