.dropdown-item:hover,
.dropdown-item:focus {
    color: $secondary;
    text-decoration: none;
    background-color: $lightest-blue;
}

.dropdown-menu {
    border-radius: 0px;
}

.dropdown-item {
    text-decoration: none;
    padding: 0.282rem 1.5rem;

    &:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    &:active {
        background-color: $gray-300;
        color: $gray-800;
    }
}

.dropdown-toggle {
    position: relative;
}

.dropdown-toggle-split {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    min-width: fit-content;
}


.dropdown>.dropdown-toggle::after {
    width: 15px;
    height: 10px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 1rem;
    top: .98rem;
    background-repeat: no-repeat;
    background-size: 25px;
    border: 0;
}


.dropdown.show>.dropdown-toggle::after {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.38376L6 5.37501L10.5 1.38376' stroke='%23ffffff' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    transform: rotate(-180deg);
    width: 15px;
    height: 10px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 1rem;
    top: .8rem;
    background-repeat: no-repeat;
    background-size: 25px;
    border: 0;

}


/////////////////////////////////////////////////
// Button Dropdown Styles
/////////////////////////////////////////////////

.btn.dropdown-toggle {
    padding: 0.875rem 4rem 0.875rem 1rem;
    min-width: 170px;
    text-align: left;
}

.btn.dropdown-toggle::after {
    width: 15px;
    height: 10px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 1rem;
    top: .98rem;
    background-repeat: no-repeat;
    background-size: 25px;
    border: 0;
}

// Button Dropdown Visible Caret
.btn-group.show>.dropdown-toggle::after {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.38376L6 5.37501L10.5 1.38376' stroke='%23ffffff' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    transform: rotate(-180deg);
    width: 15px;
    height: 10px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: .6rem;
    background-repeat: no-repeat;
    background-size: 25px;
    border: 0;
}


// Default Buttons
// Primary Caret
.dropdown-toggle.btn.btn-primary::after,
.dropdown-toggle.btn.btn-primary::before {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.38376L6 5.37501L10.5 1.38376' stroke='%23CC0000' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

// Secondary Caret
.dropdown-toggle.btn.btn-secondary::after,
.dropdown-toggle.btn.btn-secondary::before,
    {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.38376L6 5.37501L10.5 1.38376' stroke='%23008497' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

// Tertiary Caret
.dropdown-toggle.btn.btn-tertiary::after,
.dropdown-toggle.btn.btn-tertiary::before {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.38376L6 5.37501L10.5 1.38376' stroke='%23747679' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.dropdown-toggle.btn.btn-primary:hover::after,
.dropdown-toggle.btn.btn-secondary:hover::after,
.dropdown-toggle.btn.btn-tertiary:hover::after,
.dropdown-toggle.btn.btn-primary.cta:hover::after,
.dropdown-toggle.btn.btn-secondary.cta:hover::after,
.dropdown-toggle.btn.btn-tertiary.cta:hover::after,
.dropdown-toggle.btn.btn-primary:hover::before,
.dropdown-toggle.btn.btn-secondary:hover::before,
.dropdown-toggle.btn.btn-tertiary:hover::before,
.dropdown-toggle.btn.btn-primary.cta:hover::before,
.dropdown-toggle.btn.btn-secondary.cta:hover::before,
.dropdown-toggle.btn.btn-tertiary.cta:hover::before {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.38376L6 5.37501L10.5 1.38376' stroke='%23FFFFFF' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    transition: transform 0.3s;
}


// CTA Buttons
// Primary Caret
.dropdown-toggle.btn.btn-primary.cta::after {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.38376L6 5.37501L10.5 1.38376' stroke='%23FFFFFF' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

// Secondary Caret
.dropdown-toggle.btn.btn-secondary.cta::after {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.38376L6 5.37501L10.5 1.38376' stroke='%23FFFFFF' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

// Tertiary Caret
.dropdown-toggle.btn.btn-tertiary.cta::after {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.38376L6 5.37501L10.5 1.38376' stroke='%23FFFFFF' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}



/////////////////////////////////////////////////
// Dropdown CTA Carets
/////////////////////////////////////////////////


// Primary Caret
.dropdown-toggle.cta::after {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.38376L6 5.37501L10.5 1.38376' stroke='%23CC0000' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

// Secondary Caret
.dropdown-toggle.cta::after {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.38376L6 5.37501L10.5 1.38376' stroke='%23008497' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

// Tertiary Caret
.dropdown-toggle.cta::after {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.38376L6 5.37501L10.5 1.38376' stroke='%23747679' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

// Hover Caret
.dropdown-toggle.cta:hover::after,
.dropdown-toggle.cta:hover::after,
.dropdown-toggle.cta:hover::after {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.38376L6 5.37501L10.5 1.38376' stroke='%23ffffff' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    transition: all .15s;
}








/////////////////////////////////////////////////
// Dropdown Directions
/////////////////////////////////////////////////

// Drop UP
.dropup.dropdown .dropdown-toggle::after {
    width: 15px;
    height: 10px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 1rem;
    top: .98rem;
    background-repeat: no-repeat;
    background-size: 25px;
    border: 0;
}


// Button Dropdown Visible Caret
.dropup.dropdown.show .dropdown-toggle::after {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.38376L6 5.37501L10.5 1.38376' stroke='%23ffffff' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    transform: rotate(-180deg);
    width: 15px;
    height: 10px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: .85rem;
    background-repeat: no-repeat;
    background-size: 25px;
    border: 0;
}


.dropup.dropdown.show .dropdown-toggle::after {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.38376L6 5.37501L10.5 1.38376' stroke='%23ffffff' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    transform: rotate(-180deg);
    right: 14px;
    transition: all .15s;
}


// Drop LEFT
.dropleft .dropdown-toggle {
    text-align: right;
    padding-left: 4rem !important;
    padding-right: 1rem !important;
}

.dropleft .dropdown-toggle::before {
    width: 15px;
    height: 10px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: .6rem;
    top: .98rem;
    background-repeat: no-repeat;
    background-size: 25px;
    border: 0;
    transform: rotate(90deg);
}

.dropleft .dropdown-toggle:hover::before {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.38376L6 5.37501L10.5 1.38376' stroke='%23ffffff' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    transform: rotate(90deg);
}

.dropleft.show .dropdown-toggle::before {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.38376L6 5.37501L10.5 1.38376' stroke='%23ffffff' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    transform: scaleX(-1) rotate(90deg);
    top: .98rem;
    transition: all .15s;
}

// Drop RIGHT


.dropright .dropdown-toggle::after {
    width: 15px;
    height: 10px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: .98rem;
    background-repeat: no-repeat;
    background-size: 25px;
    border: 0;
    transform: rotate(-90deg);
}

.dropright .dropdown-toggle:hover::after {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.38376L6 5.37501L10.5 1.38376' stroke='%23ffffff' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    transform: rotate(-90deg);
}

.dropright.show .dropdown-toggle::after {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.38376L6 5.37501L10.5 1.38376' stroke='%23ffffff' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    transform: scaleX(-1) rotate(-90deg);
    top: .98rem;

}




/////////////////////////////////////////////////
// Dropdown Multi-level Menus
/////////////////////////////////////////////////


// .dropdown-menu.show>.btn.dropdown-toggle {
//     display: block;
//     width: 100%;
//     padding: .7rem 1.5rem;
//     clear: both;
//     font-weight: 400;
//     color: #444444;
//     text-align: inherit;
//     white-space: nowrap;
//     background-color: transparent;
//     border: 0;
//     text-transform: none;
//     border-radius: 0px;

//     &:hover {
//         color: $dark-blue;
//         text-decoration: none;
//         background-color: $lightest-blue;
//     }
// }


.dropdown-submenu {
    button[role="menuitem"] {
        padding-left: 2.2rem !important;
    }
}

.dropdown-submenu.show {
    border-top: 1px solid $light-gray;
}

.dropdown-menu{
    
        .dropright{
            .dropdown-item.dropdown-toggle{
                margin-right: 2.2rem;
            }
            .dropdown-item.dropdown-toggle:hover{
                color: $dark-blue !important;
                cursor: pointer;
            }
            .dropdown-item.dropdown-toggle[aria-expanded="true"]{
                color: $dark-blue !important;
                text-decoration: none !important;
                background-color: $lightest-blue !important;
            }
            .dropdown-item.dropdown-toggle::after{
                top: .7rem;
                right: 1rem;
                background-image: url("data:image/svg+xml,%0A%3Csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.38376L6 5.37501L10.5 1.38376' stroke='%23747679' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }    
        }
        .dropright.show{
            .dropdown-menu.show{
                margin-left: -1px;
                margin-top: 1rem;
            }
        }
}




/////////////////////////////////////////////////
// Dropdown Toggle Split
/////////////////////////////////////////////////
.dropdown.btn-group{
    .btn.dropdown-toggle.dropdown-toggle-split{
        min-width: auto !important;
        width: 3rem !important;
    }
    .dropdown-toggle.btn.btn-secondary::after{
        right: auto !important;
    }
}

